/* source-sans-pro-200 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/sourceSansPro/source-sans-pro-v9-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-200italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightIt'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-200italic.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-200italic.woff') format('woff');
}

/* source-sans-pro-300 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-300.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-300.woff') format('woff');
}

/* source-sans-pro-300italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-300italic.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-300italic.woff') format('woff');
}

/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
    url('../fonts/source-sans-pro-v9-latin-regular.woff2') format('woff');
}

/* source-sans-pro-italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-italic.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-italic.woff') format('woff');
}

/* source-sans-pro-600 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600.woff') format('woff');
}

/* source-sans-pro-600italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600italic.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600italic.woff') format('woff');
}

/* source-sans-pro-700 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-700.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-700.woff') format('woff');
}

/* source-sans-pro-700italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-700italic.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-700italic.woff') format('woff');
}

/* source-sans-pro-900 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-900.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-900.woff') format('woff');
}

/* source-sans-pro-900italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 900;
    src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackIt'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-900italic.woff2') format('woff2'),
    url('../fonts/sourceSansPro/source-sans-pro-v9-latin-900italic.woff') format('woff');
}
