<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<section class="pane pane-response" id="console-section" style="display: none" th:fragment="console-section">
    <div class="pane-response-header"><span> Console </span>
        <div class="pull-right"><a href="javascript:;" class="btn btn-mini btn-link"
                                   aria-hidden="true" style="display: none;"><i
                class="icon-lock"></i> SSL certificates </a> <a href="javascript:;"
                                                                class="btn btn-mini btn-link"
                                                                aria-hidden="true"
                                                                style="display: none;"><i></i>
            raw communication </a> <span class="el-time"><span
                title="0ms">Elapsed time: 0ms</span></span></div>
    </div>
    <div class="content" style="white-space: pre-wrap;padding: 5px;font-size: 12px;border: 1px solid #ccc;">

    </div>
    <div class="clearfix"></div>
</section>
</body>
</html>