<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<section id="editor-section" class="pane pane-request request-common" th:fragment="editor-section">

    <div class="draft-ribbon" style="" onclick="showExamplePanel()">
        <div class="draft-ribbon-text"> New</div>
    </div>
    <div class="editable-input-container request-name" style="margin-top: 18px;">
        <div class="editable-input input-append read-only">
            <input type="text" class="gwt-TextBox gwt-TextBox-readonly api-info-comment" placeholder="Comment" required="true" maxlength="256" readonly="" value="Request">
            <span class="add-on"><i class="icon-pencil"></i></span></div>
        <div class="editable-input-error" title=""></div>
    </div>
    <div class="content" style="margin-top:10px;">
        <div class="service">
            <div class="row-uri-in-request-view">
                <div class="row-uri">
                    <input type="hidden" class="api-info-id">
                    <input type="hidden" class="api-info-group" value="公共API">
                    <input type="hidden" class="api-info-editor" value="admin">
                    <div class="uri-db" id="uri-db" th:style="'display:' + @{(${dataSourceList.size() eq 1} ? 'none' : 'inline-block')} + ''">
                        <div class="uri-help" >
                            <a class="help-link" href="http://tools.ietf.org/html/rfc7231#section-4" tabindex="-1" target="_blank"> Datasource </a>
                        </div>
                        <div>
                            <div class="btn-group input-append split-dropdown" e2e-tag="db-selector">
                                <div class="input-append dropdown-toggle" data-toggle="dropdown">
                                    <input type="text" class="gwt-TextBox api-info-datasource" style="width: 85px;cursor:pointer;" readonly th:attr="default-value=${dataSourceList[0]}">
                                    <span class="add-on">
                                        <a href="javascript:;" class="btn btn-small btn-link split-dropdown-trigger" tabindex="-1">
                                            <i class="icon-caret-down"> </i>
                                        </a>
                                    </span>
                                </div>
                                <ul class="dropdown-menu" >
                                    <li th:each="item,infoStat : ${dataSourceList}"><a href="javascript:;" th:text="${item}"> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uri-method">
                        <div class="uri-help">
                            <a class="help-link" href="http://tools.ietf.org/html/rfc7231#section-4" tabindex="-1" target="_blank"> Method </a>
                        </div>
                        <div>
                            <div class="btn-group input-append split-dropdown" e2e-tag="method-selector">
                                <div class="input-append dropdown-toggle" data-toggle="dropdown">
                                    <input type="text" class="gwt-TextBox api-info-method" style="width: 85px;" value="GET">
                                    <span class="add-on">
                                                                <a href="javascript:;" class="btn btn-small btn-link split-dropdown-trigger" tabindex="-1">
                                                                    <i class="icon-caret-down"> </i>
                                                                </a>
                                                            </span>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;"><i></i> GET </a></li>
                                    <li><a href="javascript:;"><i></i> POST </a></li>
                                    <li><a href="javascript:;"><i></i> PUT </a></li>
                                    <li><a href="javascript:;"><i></i> DELETE </a></li>
                                    <li><a href="javascript:;"><i></i> HEAD </a></li>
                                    <li><a href="javascript:;"><i></i> OPTIONS </a></li>
                                    <li><a href="javascript:;"><i></i> PATCH </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uri-editor">
                        <div class="uri-help"><a> Path </a></div>
                        <div class="uri-input">
                                                    <span class="expression-input input-append uri-path">
                                                        <input type="text" class="gwt-TextBox api-info-path" spellcheck="false" autocomplete="off" e2e-tag="uri-input"
                                                               placeholder="Type an Path" style="padding-left:10px;">
                                                        <span class="add-on" data-original-title="" title=""> <i class="icon-magic"></i></span></span>
                            <div class="uri-length" style="display: inline;">length: 0 char(s)</div>
                        </div>
                    </div>
                </div>
                <div class="btn-group send">
                    <a href="javascript:;" id="save-editor-btn" onclick="saveEditor('#editor-section')" class="btn btn-send btn-primary"
                       e2e-tag="btn-send"
                       title="save request (Alt + Enter)">
                        <i class="icon-send"></i> Save</a>
                    <a href="javascript:;" class="btn btn-primary btn-send dropdown-toggle" data-toggle="dropdown" e2e-tag="btn-send-additional-actions" tabindex="-1"><i
                            class="icon-caret-down"></i> </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:;" onclick="saveAsEditor('#editor-section')"><i></i> Save as </a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="code-body" >
            <div id="editor-btns" style="height: 24px;border-bottom: 1px solid #ccc;">
                <div class="item" title="必填参数" onclick="insertExample(this)" express = '"#{name}"'>#{}</div>
                <div class="item" title="可选参数" onclick="insertExample(this)" express = '"?{name,and name = #{name}}"'>?{}</div>
                <div class="item" title="参数验证" onclick="insertExample(this)" express = 'Assert.isTrue(false,"参数不足")'>Assert</div>
                <div class="item" title="统计查询" onclick="insertExample(this)" express = 'return db.count("select count(1) from user");'>Count</div>
                <div class="item" title="单条查询" onclick="insertExample(this)" express = 'return db.findOne("select * from user where id = #{id}");'>FindOne</div>
                <div class="item" title="多条查询" onclick="insertExample(this)" express = 'return db.find("select * from user");'>Find</div>

                <div class="item" title="分页查询" onclick="insertExample(this)"
express = 'var total = db.count("select count(1) from user");
var list = db.find("select * from user");
return Pager.build(total,list);'>Pager</div>

                <div class="item" title="新增" onclick="insertExample(this)" express = 'return db.insert("insert into user(name) values(#{name})");'>Insert</div>
                <div class="item" title="修改" onclick="insertExample(this)" express = 'return db.update("update user set name=#{name} where id = #{id}");'>Update</div>
                <div class="item" title="删除" onclick="insertExample(this)" express = 'return db.remove("delete from user where id = #{id}");'>Remove</div>

                <div class="item" title="导出CSV" onclick="insertExample(this)"
express = 'var title = {"id":"编号","name":"姓名","mock":"test","createTime":"创建时间"}
var list = db.find("select * from user");
return Export.csv("测试导出",title,list);'>Export.csv</div>

                <div class="item" title="导出XLS" onclick="insertExample(this)"
                     express = 'var title = {"id":"编号","name":"姓名","mock":"test","createTime":"创建时间"}
var list = db.find("select * from user");
return Export.xls("测试导出",title,list);'>Export.xls</div>

                <div class="item" title="日志输出：info,debug,warn,error,trace" onclick="insertExample(this)" express = 'log.info("日志信息:{}","变量");'>Log</div>

                <div class="item run" title="运行脚本 快捷键Ctrl + Enter" onclick="runApi()" >Run</div>
            </div>
            <!--<textarea id="CodeMirror1" name="CodeMirror1" class="api-info-script cm-s-default"></textarea>-->
            <div id="monaco-editor" style="width:100%;margin-top:10px;height: 400px"></div>
        </div>
    </div>


    <!--save as-->
    <div class="modal save-dialog in" id="save-dialog" aria-hidden="false" style="display: none">
        <div class="modal-header"><a class="close" onclick="cancelDialogGroup()" data-dismiss="modal">×</a>
            <h3>Save Request <small></small></h3></div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="repository-path-selector">
                    <div class="flex-container name-form">
                        <div class="left-label"> Name</div>
                        <div class="right-label"><input type="text" class="gwt-TextBox input-xlarge"></div>
                    </div>
                    <div class="validation-message"></div>
                    <div class="path">
                        <div class="flex-container">
                            <div class="path-selector-header left-label"> Path</div>
                            <div class="flex-container path-selector-container right-label"><a class="r-btn" e2e-tag="drive-selector" title="My drive"><i
                                    class="api-tester-icon api-tester-drive"></i> <span class="drive-name">My drive</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu" e2e-tag="drives-list">
                                    <li><a>My drive</a></li>
                                </ul>
                                <span class="colon">:</span>
                                <div class="path-buttons" e2e-tag="drive-path"><a class="r-btn active" onclick="showDialogGroup()">/</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="selector-table">
                        <ul class="nav nav-list local-drive">

                        </ul>
                    </div>
                    <div class="new-path"><a class="r-btn" onclick="addGroup()"><i class="fa fa-plus"></i> <span> Create </span> </a>
                        <div class="new-container-form" aria-hidden="true" style="display: none;">
                            <div class="flex-container"><span class="left-label"></span> <input type="text" class="new-item-name input-xlarge">
                                <div class="create-form">
                                    <button class="r-btn r-btn-small" onclick="confirmGroup()"><i class="fa fa-check"></i> <span> Add </span></button>
                                    <button class="r-btn r-btn-small" onclick="cancelGroup()"><i class="fa fa-times-thin"></i> <span> Cancel </span></button>
                                </div>
                            </div>
                            <div class="validation-message"></div>
                        </div>
                    </div>
                </div>
                <div class="alert hidden">The target request will be overwritten.</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="r-btn" e2e-tag="modal-cancel" onclick="cancelDialogGroup()"><i class="fa fa-remove"></i><span>Cancel</span><span class="r-btn-indicator" aria-hidden="true"
                                                                                                                                            style="display: none;"></span></button>
            <button class="r-btn r-btn-primary" e2e-tag="modal-ok" onclick="confirmDialog('#editor-section')"><i class="fa fa-download"></i><span>Save</span><span class="r-btn-indicator" aria-hidden="true"
                                                                                                                        style="display: none;"></span></button>
        </div>
    </div>
</section>
</body>
</html>

