<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<section style="display:none" class="pane pane-response" id="response" th:fragment="response-section">
    <div class="pane-response-header"><span> Response </span>
        <div class="pull-right"><a href="javascript:;" class="btn btn-mini btn-link"
                                   aria-hidden="true" style="display: none;"><i
                class="icon-lock"></i> SSL certificates </a> <a href="javascript:;"
                                                                class="btn btn-mini btn-link"
                                                                aria-hidden="true"
                                                                style="display: none;"><i></i>
            raw communication </a> <span class="el-time"><span
                title="17ms">Elapsed time: 17ms</span></span></div>
    </div>
    <div class="content">
        <div style="display: none;"><p class="note"> Not available, a request has not been sent
            yet. </p></div>
        <div style="display: block;">
            <div class="response-status-line response-status-line-failure">
                <div class="status"><a href="http://tools.ietf.org/html/rfc7231#section-6.5.4"
                                       target="_blank">404 </a></div>
            </div>
            <div class="h-container layout-for-headers-and-body" style="">
                <div class="headers">
                    <div class="headers-form-title"><span class="title-content"> Headers </span>
                        <i class="sli-icon-question link-to-rfc" data-original-title=""
                           title=""></i>
                        <ul class="nav nav-pills contextual-menu-in-title">
                            <li class="dropdown types right"><a href="javascript:;"
                                                                class="dropdown-toggle"
                                                                data-toggle="dropdown"><i></i>
                                Pretty <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;"><i></i> Pretty </a></li>
                                    <li><a href="javascript:;"><i></i> Raw </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="container-for-overflow">
                        <div class="h-container">
                            <table class="headers-form-table">
                                <colgroup>
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-7.1.4"><span
                                            title="Vary">Vary:</span></a></td>
                                    <td><span class="gwt-InlineHTML"
                                              title="Origin">Origin</span></td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-7.1.4"><span
                                            title="Vary">Vary:</span></a></td>
                                    <td><span class="gwt-InlineHTML"
                                              title="Access-Control-Request-Method">Access-Control-Request-Method</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-7.1.4"><span
                                            title="Vary">Vary:</span></a></td>
                                    <td><span class="gwt-InlineHTML"
                                              title="Access-Control-Request-Headers">Access-Control-Request-Headers</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-3.1.1.5"><span
                                            title="Content-Type">Content-Type:</span></a></td>
                                    <td><span class="gwt-InlineHTML" title="application/json">application/json</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7230#section-3.3.1"><span
                                            title="Transfer-Encoding">Transfer-Encoding:</span></a>
                                    </td>
                                    <td><span class="gwt-InlineHTML"
                                              title="chunked">chunked</span></td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-7.1.1.2"><span
                                            title="Date">Date:</span></a></td>
                                    <td>
                                        <div title="Fri, 29 May 2020 11:11:11 GMT"><span
                                                class="gwt-InlineHTML">Fri, 29 May 2020 11:11:11 GMT</span><span
                                                class="gwt-InlineHTML addt">-2m 22s</span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="https://tools.ietf.org/html/rfc7230#appendix-A.1.2"><span
                                            title="Keep-Alive">Keep-Alive:</span></a></td>
                                    <td><span class="gwt-InlineHTML" title="timeout=60">timeout=60</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7230#section-6.1"><span
                                            title="Connection">Connection:</span></a></td>
                                    <td><span class="gwt-InlineHTML" title="keep-alive">keep-alive</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="response-raw-headers" aria-hidden="true"
                                 style="display: none;">Vary: Origin
                                Vary: Access-Control-Request-Method
                                Vary: Access-Control-Request-Headers
                                Content-Type: application/json
                                Transfer-Encoding: chunked
                                Date: Fri, 29 May 2020 11:11:11 GMT
                                Keep-Alive: timeout=60
                                Connection: keep-alive
                            </div>
                        </div>
                    </div>
                    <div class="container-for-request-headers-in-response" style="">
                        <div class="headers-form-title-expandable collapsed-title"><i
                                class="fa fa-caret-right" tabindex="0"></i> <span
                                class="title-content">complete request headers</span>
                            <button class="header-warning r-btn r-btn-link" aria-hidden="true"
                                    title="Show warnings" style="display: none;"><i
                                    class="fa fa-exclamation-triangle"></i><span></span><span
                                    class="r-btn-indicator" aria-hidden="true"
                                    style="display: none;"></span></button>
                            <ul class="nav nav-pills contextual-menu-in-title"
                                aria-hidden="true" style="display: none;">
                                <li class="dropdown types right"><a href="javascript:;"
                                                                    class="dropdown-toggle"
                                                                    data-toggle="dropdown"><i></i>
                                    Pretty <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:;"><i></i> Pretty </a></li>
                                        <li><a href="javascript:;"><i></i> Raw </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="container-for-overflow" aria-hidden="true"
                             style="display: none;">
                            <table class="headers-form-table" style="">
                                <colgroup>
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td><span title="loginUserInfo">loginUserInfo:</span></td>
                                    <td><a class="gwt-Anchor"
                                           title="{&quot;id&quot;:&quot;1&quot;,&quot;groupAccount&quot;:&quot;ZJXHJT&quot;}">{"id":"1","groupAccount":"ZJXHJT"}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-5.5.3"><span
                                            title="User-Agent">User-Agent:</span></a></td>
                                    <td><a class="gwt-Anchor"
                                           title="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36">Mozilla/5.0
                                        (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
                                        like Gecko) Chrome/81.0.4044.113 Safari/537.36</a></td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-3.1.1.5"><span
                                            title="Content-Type">Content-Type:</span></a></td>
                                    <td><a class="gwt-Anchor" title="application/json">application/json</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-5.3.2"><span
                                            title="Accept">Accept:</span></a></td>
                                    <td><a class="gwt-Anchor" title="*/*">*/*</a></td>
                                </tr>
                                <tr>
                                    <td><span title="Origin">Origin:</span></td>
                                    <td><a class="gwt-Anchor" title=""></a></td>
                                </tr>
                                <tr>
                                    <td><span title="Sec-Fetch-Site">Sec-Fetch-Site:</span></td>
                                    <td><a class="gwt-Anchor" title="none">none</a></td>
                                </tr>
                                <tr>
                                    <td><span title="Sec-Fetch-Mode">Sec-Fetch-Mode:</span></td>
                                    <td><a class="gwt-Anchor" title="cors">cors</a></td>
                                </tr>
                                <tr>
                                    <td><span title="Sec-Fetch-Dest">Sec-Fetch-Dest:</span></td>
                                    <td><a class="gwt-Anchor" title="empty">empty</a></td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-5.3.4"><span
                                            title="Accept-Encoding">Accept-Encoding:</span></a>
                                    </td>
                                    <td><a class="gwt-Anchor" title="gzip, deflate, br">gzip,
                                        deflate, br</a></td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc7231#section-5.3.5"><span
                                            title="Accept-Language">Accept-Language:</span></a>
                                    </td>
                                    <td><a class="gwt-Anchor"
                                           title="en-US,en;q=0.9,zh-CN;q=0.8,zh;q=0.7">en-US,en;q=0.9,zh-CN;q=0.8,zh;q=0.7</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a target="_blank"
                                           href="http://tools.ietf.org/html/rfc6265#page-13"><span
                                            title="Cookie">Cookie:</span></a></td>
                                    <td><a class="gwt-Anchor"
                                           title="Idea-77f348de=be2eeb26-5d26-4d8f-a7e5-76cd3309eb7d; UM_distinctid=16ef3aacfbf120-0ee234fb76c005-2393f61-1fa400-16ef3aacfc0b3; CNZZDATA1254310986=1286113930-1576045604-%7C1576045604">Idea-77f348de=be2eeb26-5d26-4d8f-a7e5-76cd3309eb7d;
                                        UM_distinctid=16ef3aacfbf120-0ee234fb76c005-2393f61-1fa400-16ef3aacfc0b3;
                                        CNZZDATA1254310986=1286113930-1576045604-%7C1576045604</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="response-raw-headers" aria-hidden="true"
                                 style="display: none;">loginUserInfo:
                                {"id":"1","groupAccount":"ZJXHJT"}
                                User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64)
                                AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113
                                Safari/537.36
                                Content-Type: application/json
                                Accept: */*
                                Origin:
                                Sec-Fetch-Site: none
                                Sec-Fetch-Mode: cors
                                Sec-Fetch-Dest: empty
                                Accept-Encoding: gzip, deflate, br
                                Accept-Language: en-US,en;q=0.9,zh-CN;q=0.8,zh;q=0.7
                                Cookie: Idea-77f348de=be2eeb26-5d26-4d8f-a7e5-76cd3309eb7d;
                                UM_distinctid=16ef3aacfbf120-0ee234fb76c005-2393f61-1fa400-16ef3aacfc0b3;
                                CNZZDATA1254310986=1286113930-1576045604-%7C1576045604
                            </div>
                            <div class="sent-request-headers-note">Note: <a
                                    href="http://www.w3.org/TR/XMLHttpRequest/#dom-xmlhttprequest-setrequestheader"
                                    target="_blank">XHR</a> automatically adds headers like
                                Accept, Accept-Language, Cookie, User-Agent, etc.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resizer-for-headers-and-body">
                    <div class="resizer-pane"><i class="fa fa-caret-left"
                                                 style="visibility: visible;"></i> <span
                            class="headers-subtitle"> Headers <span
                            class="subtitle-counter">[8]</span> </span></div>
                    <div class="resizer">
                        <div class="resizer-line"></div>
                    </div>
                    <div class="resizer-pane"><i class="fa fa-caret-right"
                                                 style="visibility: visible;"></i> <span
                            class="body-subtitle"> Body <span class="subtitle-counter"></span> </span>
                    </div>
                </div>
                <div class="body" style="">
                    <div class="body-form-title"><span class="title-content"> Body </span> <i
                            class="sli-icon-question link-to-rfc" data-original-title=""
                            title=""></i>
                        <ul class="nav nav-pills contextual-menu-in-title" style="">
                            <li class="dropdown types right"><a href="javascript:;"
                                                                class="dropdown-toggle"
                                                                data-toggle="dropdown"><i></i>
                                Pretty <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li aria-hidden="true" style="display: none;"><a
                                            href="javascript:;"><i></i> Preview </a></li>
                                    <li><a href="javascript:;"><i></i> Pretty </a></li>
                                    <li><a href="javascript:;"><i></i> Hex </a></li>
                                    <li><a href="javascript:;"><i></i> Raw </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="container-for-overflow">
                        <div class="response-body-as-text line-nums-off" id="responseBody">
                            <div class="cc-json">
                                <div id="gwt-uid-3725" class="line">
                                    <div class="l-counter">1</div>
                                    <div class="l-body" style="padding-left:7px"><label
                                            class="p-name" for="gwt-uid-3724"></label><input
                                            id="gwt-uid-3724" type="checkbox" checked="checked"><span
                                            class="os">{</span></div>
                                </div>
                                <div id="gwt-uid-3726" class="line">
                                    <div class="l-counter">2</div>
                                    <div class="l-body" style="padding-left:37px"><span
                                            class="p-name"><span class="p-str">"</span>timestamp<span
                                            class="p-str">"</span>:</span> <span class="string"
                                                                                 title="&quot;2020-05-29 19:11:11&quot;">"2020-05-29 19:11:11"</span>,
                                    </div>
                                </div>
                                <div id="gwt-uid-3727" class="line">
                                    <div class="l-counter">3</div>
                                    <div class="l-body" style="padding-left:37px"><span
                                            class="p-name"><span
                                            class="p-str">"</span>status<span
                                            class="p-str">"</span>:</span> <span class="number">404</span>,
                                    </div>
                                </div>
                                <div id="gwt-uid-3728" class="line">
                                    <div class="l-counter">4</div>
                                    <div class="l-body" style="padding-left:37px"><span
                                            class="p-name"><span
                                            class="p-str">"</span>error<span
                                            class="p-str">"</span>:</span> <span class="string"
                                                                                 title="&quot;Not Found&quot;">"Not Found"</span>,
                                    </div>
                                </div>
                                <div id="gwt-uid-3729" class="line">
                                    <div class="l-counter">5</div>
                                    <div class="l-body" style="padding-left:37px"><span
                                            class="p-name"><span
                                            class="p-str">"</span>message<span
                                            class="p-str">"</span>:</span> <span class="string"
                                                                                 title="&quot;&quot;">""</span>,
                                    </div>
                                </div>
                                <div id="gwt-uid-3732" class="line">
                                    <div class="l-counter">6</div>
                                    <div class="l-body" style="padding-left:37px"><span
                                            class="p-name"><span class="p-str">"</span>path<span
                                            class="p-str">"</span>:</span> <span class="string"
                                                                                 title="&quot;/org/mini-program-template&quot;"><a
                                            id="gwt-uid-3731" class="get-href"
                                            title="GET /org/mini-program-template"><i
                                            class="icon-external-link"></i></a><a
                                            id="gwt-uid-3730" class="gwt-Anchor">"/org/mini-program-template"</a></span>
                                    </div>
                                </div>
                                <div id="gwt-uid-3733" class="line">
                                    <div class="l-counter">7</div>
                                    <div class="l-body" style="padding-left:7px"><span
                                            class="oe">}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="btn response-hide-lines btn-link"
                       title="Show line numbers" style=""><i></i> Lines nums </a>
                    <div class="response-length" title="length: 117 bytes">length: 117 bytes
                    </div>
                    <div class="response-body-info"
                         style="bottom: 30px; right: 14px; position: fixed; z-index: 10; border-radius: 7px;">
                        <div class="btn-group"><a href="javascript:;"
                                                  class="btn btn-small btn-link"
                                                  title="Scroll to the top"><i
                                class="icon-circle-arrow-up"></i> Top </a><a href="javascript:;"
                                                                             class="btn btn-small btn-link"
                                                                             title="Scroll to the bottom"><i
                                class="icon-circle-arrow-down"></i> Bottom </a><a
                                href="javascript:;" class="btn btn-small btn-link"
                                aria-hidden="true" title="Open HTML response in a new tab."
                                style="display: none;"><i class="icon-external-link"></i> Go
                        </a><a href="javascript:;" class="btn btn-small btn-link"
                               title="Collapse" style=""><i class="icon-minus-sign-alt"></i>
                            Collapse </a><a href="javascript:;" class="btn btn-small btn-link"
                                            title="Open" style=""><i
                                class="icon-plus-sign-alt"></i> Open </a><a href="javascript:;"
                                                                            class="btn btn-small btn-link"
                                                                            title="Copy the response body to a request body"><i
                                class="icon-paste"></i> 2Request </a><a href="javascript:;"
                                                                        class="btn btn-small btn-link"
                                                                        title="Copy the response body to a clipboard"
                                                                        style=""><i
                                class="icon-copy"></i> Copy </a><a href="javascript:;"
                                                                   class="btn btn-small btn-link"
                                                                   title="Download the response body as a file."><i
                                class="icon-download-alt"></i> Download </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
</body>
</html>