<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="top-bar" id="top-section" th:fragment="top-section">
    <div class="fake-extension-detected-bar"></div>
    <div class="encourage-positive-review-bar"><span> Enjoying Talend API Tester? Help us make it better, leave a review! <button
            class="rate-us">Rate us</button> </span>
        <button class="remind-later">Remind me later</button>
    </div>
    <div class="header-bar"><a href="https://www.talend.com/" target="_blank"
                               class="show-for-free-edition talend-portal"><i
            class="ti-icon ti-icon-logo-square"></i></a> <a href="https://portal.us.cloud.talend.com/"
                                                            target="_blank"
                                                            class="hide-for-free-edition talend-portal"
                                                            data-original-title="" title=""><i
            class="ti-icon ti-icon-logo-square"></i></a>
        <ul class="tabs">
            <li class="separator">
                <div>|</div>
            </li>
            <li class="show-for-free-edition app-switcher-container">
                <div class="app-switcher-button"><i class="ti-icon ti-icon-api-tester-negative"></i>
                    <div class="app-label">API Tester</div>
                </div>
            </li>
            <li class="hide-for-free-edition app-switcher-container"><a class="app-switcher-button"
                                                                        data-toggle="dropdown"> <i
                    class="ti-icon ti-icon-api-tester-negative"></i>
                <div class="app-label">API Tester</div>
                <span class="caret"></span> </a>
                <ul class="apps"></ul>
            </li>
            <div class="konami-app-header" aria-hidden="true" style="display: none;">
                <li class="separator restricted-access">
                    <div>|</div>
                </li>
                <div class="sync-progress" title="Remaining time until next project sync">
                    <div class="sync-progress-bg" role="progressbar"></div>
                    <div class="sync-progress-text"><span class="sync-progress-value"></span> <span>s</span></div>
                </div>
                <button class="konami-button r-btn r-btn-small r-btn-rounded" title="force project sync"><i
                        class="sli-icon-reload"></i><span></span><span class="r-btn-indicator" aria-hidden="true"
                                                                       style="display: none;"></span></button>
                <button class="konami-button r-btn r-btn-small r-btn-rounded" title="open konami pane"><i
                        class="sli-icon-rocket"></i><span></span><span class="r-btn-indicator" aria-hidden="true"
                                                                       style="display: none;"></span></button>
            </div>
            <li class="separator restricted-access">
                <div>|</div>
            </li>
            <li class="separator restricted-access hide-for-free-edition">
                <div class="entity-status ellipsis" title=""></div>
            </li>
            <div aria-hidden="true" style="display: none;"><p class="transaction-list-link"><a class="gwt-Anchor">Saving...
                (show details)</a></p></div>
        </ul>
        <ul class="right-tabs">
            <li class="restricted-access conflict separator-after" aria-hidden="true" style="display: none;"
                data-original-title="" title=""><i class="sli-icon-info"></i></li>
            <li class="available-version separator-after restricted-access" aria-hidden="true"
                style="display: none;"><i class="fa fa-bullhorn"
                                          title="A new version is available, click to upgrade!"></i> <span
                    class="new-version-label" title="A new version is available, click to upgrade!"> A new version is available </span>
            </li>
            <li class="separator">
                <div>|</div>
            </li>
            <li class="user login-info" style="display: none">
                <a data-toggle="dropdown" style="visibility: visible;"> <i
                    class="ti-icon ti-icon-user-circle"></i>
                <div class="name">Free Edition</div>
                <span class="caret"></span> </a>
                <ul class="drop">
                    <li class="show-for-free-edition" onclick="logout()" style=" width: 166px;"><a> Logout </a></li>
                </ul>
            </li>
            <li class="user login-btn" aria-hidden="true" onclick="showLoginDialog()" ><a> Sign in </a></li>
        </ul>
    </div>
    <div class="offline-ribbon hide-for-free-edition">Trying to synchronize... You can still work on your projects
        in the meantime.
    </div>

    <div class="modal login-dialog in" aria-hidden="false" style="display: none">
        <div class="modal-header"><a class="close" onclick="hideLoginDialog()" data-dismiss="modal">×</a>
            <h3>Sign in <small></small></h3></div>
        <div class="modal-body">
            <div class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label"> <span class="gwt-InlineHTML"> username </span> </label>
                        <div class="controls">
                            <input type="text" class="username" maxlength="256" placeholder="Enter username" e2e-tag="project-creation-dialog-name-input">
                            <div class="error-message"></div>
                        </div>
                        <label class="control-label" style="margin-top:15px;"> <span class="gwt-InlineHTML"> password </span> </label>
                        <div class="controls" style="margin-top:20px;">
                            <input type="password" class="password" maxlength="256" placeholder="Enter password" e2e-tag="project-creation-dialog-name-input">
                            <div class="error-message"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
            <div class="error-message login-error-message" style="float: left;"></div>
            <button class="r-btn" e2e-tag="modal-cancel" onclick="hideLoginDialog()"><i class="fa fa-remove"></i><span>Cancel</span><span class="r-btn-indicator" aria-hidden="true"
                                                                                                              style="display: none;"></span></button>
            <button class="r-btn r-btn-primary" onclick="login()" e2e-tag="modal-ok"><i class="fa fa-plus"></i><span>Login</span><span class="r-btn-indicator" aria-hidden="true"
                                                                                                                                          style="display: none;"></span></button>
        </div>
    </div>
</div>
</body>
</html>