/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+groovy+http+java+json+markdown */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}


/*data source*/
#datasource-setting{
    display: none;
}
.db-left{
    float: left;
    min-width: 163px;
    width: 20%;
}
.db-tool{
    border-bottom: 1px solid #b0b0b3;
    display: flex;
    margin:10px;
    padding-bottom: 4px;
}
.db-tool>div{
    float: left;
    width: 20px;
    text-align: center;
    margin-left: 9px;
    cursor: pointer;
}
.db-split{
    clear:both;
    margin: 5px;
}
.db-list{
    clear: both;
}
.db-list>div{
    cursor:pointer;
    padding: 3px 10px;

}
.db-list>.db-selected{
    /*background: #4D66B5;
    color: white;*/
    text-decoration: none;
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #08c, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #08c, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.db-list>div>img,.db-driver img{
    width: 16px;margin-right: 10px;
}
.db-right>div{
    display: none;
}
.db-right{
    min-width: 513px;
    width: calc(80% - 43px);
    float: left;
    height: 100%;
    border-left: 1px solid #2b2b2b;
    padding-left: 10px;
    padding-top: 10px;
}

.db-right .control-label{
    float: left;
    line-height: 30px;
    margin-right: 15px;
    width: 60px;
}

.db-properties-title{
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    padding-bottom: 2px;
}
.db-properties{
    height: 150px;
    clear: both;
    overflow-y: scroll;
}
.db-properties .controls{
    width:40%;
    float:left;
    margin-left:25px;
}
.db-properties input{
    width:100%
}
.db-status{
    line-height: 35px;
}
.db-status>div{
    float:left;
    margin-right: 15px;
}
.db-driver-icon{
    position: absolute;
    width:calc(100% - 578px);
    top:0px;
    right:0px;
    text-align: left;
    line-height: 95px;
}
.db-driver-info{
}
.db-driver-icon>img{
    width: 54px;
    min-width: 54px;
}
#datasource-setting .dropdown-menu{
    left:0px;
}

.db-add-down{
    position: absolute;
    width: 180px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
}

.db-add-down>div{

}
#datasource-setting .db-add{
    padding: 0px;
    font-size: 14px;
    color: #464545;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 20px;
    text-align: center;
}

#datasource-setting .db-driver{
    width: 230px;
    font-size:12px;
}

.db-connection-status{
    margin-left:8px;
}